:root {
    --accent1-color: #386641;
    --accent2-color: #6a994e;
    --accent3-color: #a7c957;
    --accent4-color: #f2e8cf;
    --accent5-color: #bc4749;

    --border1-color: black;
    --border2-color: var(--accent5-color);

    --text-on-light-color: #000000;
    --text-on-dark-color: #ffffff;

    --form-fieldset-background-color: var(--accent4-color);
    --form-fieldset-text-color: var(--text-on-light-color);

    --form-label-text-color: var(--text-on-light-color);
    --form-label-background-color: var(--accent4-color);

    --background-color: var(--accent4-color);

    --header-background-color: var(--accent1-color);
    --header-text-color: var(--text-on-dark-color);

    --main-background-color: var(--accent4-color);
    --main-text-color: var(--text-on-dark-color);

    --footer-background-color: var(--accent1-color);
    --footer-text-color: var(--text-on-dark-color);

    --nav-backgrond-color: var(--accent2-color);
    --nav-text-color: var(--text-on-light-color);
    --nav-link-color: var(--text-on-light-color);
    --nav-hover-color: var(--text-on-light-color);
    --nav-hover-background-color: var(--text-on-dark-color);

    --nav-active-link-color: var(--accent3-color);
    --nav-box-shadow-color: rgba(0, 0, 0, 0.9);

    --heading-font: "Noto Serif", Times, serif;
    --paragraph-font: "Noto Sans", Helvetica, sans-serif;
    --footer-font: "Noto Serif", cursive;

    --paragraph-text-on-white: var(--text-on-light-color);
    --paragraph-text-on-color: var(--text-on-dark-color);

    --logo-box-shadow-color: var(--accent1-color);
    --box-shadow-color: var(--accent1-color);
}

body {
    font-size: 16px;
    line-height: 1.25;
    padding: 0.5rem;
    font-family: var(--paragraph-font);
}

header,
#fruits,
footer {
    margin: 0 auto;
    align-items: center;
}

header,
footer {
    text-align: center;
    border: 1px solid var(--border1-color);
    padding: 1rem;
}

header {
    background-color: var(--header-background-color);
    color: var(--header-text-color);
}

footer {
    background-color: var(--footer-background-color);
    color: var(--footer-text-color);
    align-items: center;
}

nav {
    background-color: var(--nav-backgrond-color);
    color: var(--nav-text-color);
    border: 1px solid var(--border1-color);
    /* margin: 1rem; */
    /* grid-row: 2/3; */
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
}

a {
    color: var(--nav-link-color);
    text-decoration: none;
    transition: 0.5s;
}

nav ul li a {
    display: block;
    color: var(--nav-link-color);
    text-align: center;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 0.9rem;
    transition: 0.5s;
}

a:hover,
nav a:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-color);
}

section {
    margin: 0;
}

h1,
h2 {
    font-family: var(--heading-font);
}

h1 {
    font-size: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
}

p {
    padding: 0.5rem;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;

    font-family: var(--footer-font);
    font-size: 0.8rem;
    padding: 0.25rem;
}

form fieldset {
    background-color: var(--form-fieldset-background-color);
    color: var(--form-fieldset-text-color);
    margin: 1rem 0;
    border: 1px solid;
    border-radius: 10px;
    padding: 0.5rem 2%;
}

form legend {
    margin: 0 1rem;
    padding: 0 0.5rem;
}

form label,
form div {
    background-color: var(--form-label-background-color);
    color: var(--form-label-text-color);
    display: block;
    padding-top: 0.5rem;
    font-size: 0.9rem;
}

form label input,
form label select {
    display: block;
    font-size: .9rem;
    border: solid 1px var(--border1-color);
    border-radius: 2px;
    padding: 0.5rem;
    width: 96%;
    max-width: 40rem;
}
form label textarea {
    display: block;
    border: solid 1px var(--border1-color);
    border-radius: 2px;
    padding: 0.5rem;
    width: 96%;
    max-width: 40rem;
}

/* Tweek the widget from OpenWeatherMap so it fits. */

#container-openweathermap-widget-15 {
    width: 100%;
}

#container-openweathermap-widget-11 .widget-left {
    background-color: var(--background-color);
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-bottom: 0;
}

#container-openweathermap-widget-11 .widget-left__body {
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-bottom: 0;
}

#container-openweathermap-widget-11 #graphic2 {
    display: none;
}

#container-openweathermap-widget-11 .widget-left-menu__header {
    padding-left: 0.25rem;
}

#container-openweathermap-widget-11 .widget-left__calendar {
    margin: 0 4px 0 4px;
}

#container-openweathermap-widget-11 .calendar__item {
    font-size: 13px;
}

#container-openweathermap-widget-11 .widget-left-menu__layout,
#container-openweathermap-widget-11 .widget-left__graphic,
#container-openweathermap-widget-11 .calendar {
    width: 100%;
}
#weather .w-icon,
#weather .weather-right__icon {
    width: auto;
    height: auto;
}

#fruits-page #summary ul {
        list-style-type: none;
        padding-left: 1rem;
    
}
#fruits-page #summary ul li {
    font-size: 0.9rem;
}

.hr-short {
    width: 50%;
}

.button {
    background-color: var(--nav-backgrond-color);
    color: var(--nav-text-color);
    border: 1px solid var(--border1-color);
    border-radius: 1rem;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    font-size: 0.9rem;
    white-space: nowrap;
}

.card {
    background-color: var(--background-color);
    /* border: 2px solid var(--border2-color); */
    padding: 0.5rem;
}

.card img {
    width: 98%;
    max-width: 200px;
}

.logo {
    box-shadow: 0 0 30px var(--logo-box-shadow-color);
    width: auto;
    padding: 0;
}

.logo-medium {
    width: 98%;
    max-width: 160px;
}

.logo-small {
    width: 98%;
    max-width: 80px;
}

.hero {
    width: 98%;
}

.footer-social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-info {
    padding: 0.5rem;
}

.button-small,
.sm-icon {
    background-color: var(--nav-backgrond-color);
    color: var(--nav-text-color);
    border: 1px solid var(--border1-color);
    border-radius: 1rem;
    margin: 0.25rem 0;
    padding: 0.25rem 1rem;
    font-size: 0.8rem;
    white-space: nowrap;
}
