:root {
    --primary-color: #396e94;
    --secondary-color: #36454f;
    --accent1-color: #444444;
    --accent2-color: yellow;

    --heading-font: "Merienda", Times, serif;
    --paragraph-font: Arial, Helvetica, sans-serif;
    --signature-font: "Dancing Script", cursive;

    --header-background-color: var(--primary-color);
    --paragraph-text-on-white: black;
    --paragraph-text-on-color: white;
    --nav-background-color: var(--secondary-color);
    --nav-link-color: white;
    --nav-hover-color: black;
    --nav-hover-background-color: white;
    --nav-active-link-color: var(--accent2-color);
    --logo-box-shadow-color: var(--accent1-color);
    --box-shadow-color: var(--accent1-color);
    --nav-box-shadow-color: rgba(0, 0, 0, 0.9);
}

body {
    font-size: 16px;
    line-height: 1.5;
    font-family: var(--paragraph-font);
}

header,
main,
footer {
    max-width: 1024px;
    margin: 0 auto;
    /* align-items: center; */
}

header,
footer {
    background-color: var(--header-background-color);
    color: var(--paragraph-text-on-color);
    text-align: center;
}

header {
    display: flex;
    flex-flow: row wrap;
    /* justify-content: space-around; */
    font-size: 1rem;
    padding: 0.8rem;
}

header img {
    width: 100px;
    height: 70px;
}

footer img {
    width: 100px;
    height: 70px;
}

hr {
    margin: auto 0px;
    width: 100%;
}

h1,
h2 {
    font-family: var(--heading-font);
}

h1 {
    font-size: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

h2 {
    font-size: 0.9rem;
}

/* 
header img {
    display: none; 
} */

nav {
    background-color: var(--nav-background-color);
    margin: 0 auto;
    /* box-shadow: 0 0 30px var(--nav-box-shadow-color); */
    padding-left: 0;
    width: 100%;
}

nav button {
    margin: 0.2rem 2vw;
    background: transparent;
    border-width: 1px;
    border-color: white;
    font-size: 1.4rem;
    color: white;
    /* color: #555; */
    float: left;
}

nav .social-media {
    float: right;
    margin-right: 0.5rem;
    font-size: 1.5em;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: white;
}

nav ul li a {
    display: block;
    color: var(--nav-link-color);
    text-align: center;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 0.95rem;
    transition: 0.5s;
}

nav a:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-color);
}

nav ul {
    display: none;
}
nav ul.open {
    display: block;
}

main p {
    color: var(--paragraph-text-on-white);
}

main {
    padding: 0.5em 0;
    /* display: flex;
    flex-direction: column; */
}

section,
.section {
    /* display: flex; */
    padding: 0.5em;
    margin: 0.5em 0;
    border-width: 1px;
    border-color: black;
    background-color: lightgray;
    border-style: solid;
    /* width: 100%; */
}

#hero img {
    width: 98%;
}
/* In base, hide join section. */
#join {
    display: none;
}

#logo {
    display: grid;
    grid-template-columns: 30% auto;
    align-items: center;
    /* margin: 0.5rem; */
    margin-bottom: 0.5rem;
}

#hamburgerBtn span:nth-child(1) {
    display: block;
}
#hamburgerBtn span:nth-child(2) {
    display: none;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
}
#hamburgerBtn.open span:nth-child(2) {
    display: block;
}

#message-bar {
    background-color: var(--accent1-color);
    padding: 0.5rem;
    width: 100%;
}

#demographics {
    margin-top: 8px;
    margin-bottom: auto;
}

#scenery img {
    width: 98%;
}

main#join-us form fieldset {
    margin: 1rem 0;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;
}

main#join-us form legend {
    color: #445ba9;
    margin: 0 1rem;
    padding: 0 .5rem;
}

main#join-us form label,
main#join-us form div {
    display: block;
    padding-top: .5rem;
    font-size: 1rem;
}

main#join-us form label input,
main#join-us form label select {
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .5rem;
    color: #555;
    width: 96%;
    max-width: 40rem;
    /* background-color: rgba(0, 0, 0, 0.1); */
}

main#join-us form label textarea {
    display: block;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .5rem;
    color: #555;
    width: 96%;
    max-width: 40rem;
}

main#join-us form input.submit {
    border: none;
    /* background-color: #9c2c13; */
    color: black;
    border: solid 1px black;
    border-radius: 1rem;
    padding: 0.75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}



footer {
    font-size: 0.8rem;
    padding: 0.8rem;
}

.banner {
    font-size: 0.8rem;
}

.signature {
    font-family: var(--signature-font);
}

.heading-font {
    font-family: var(--heading-font);
    font-size: 1.5rem;
}

.box {
    border-style: double;
    border-radius: 12px;
    border-width: 2px;
}

.shadow {
    box-shadow: 0 0 30px var(--logo-box-shadow-color);
}

.active {
    color: var(--nav-active-link-color);
}

.large2 {
    font-size: 2.2rem;
}

.small1 {
    font-size: 0.8rem;
}

.width200 {
    width: 200px;
}

.primary-color {
    background-color: var(--primary-color);
    color: white;
}
.secondary-color {
    background-color: var(--secondary-color);
    color: white;
}
.accent1-color {
    background-color: var(--accent1-color);
    color: white;
}
.accent2-color {
    background-color: var(--accent2-color);
    color: black;
}

.table-colors {
    width: 100%;
    min-width: 350px;
    margin: 30px auto;
    text-align: center;
    color: black;
}
.table-colors th {
    background-color: #999;
}

.table-colors td {
    width: 25%;
    height: 3em;
}
