body {
    font-size: 16px;
    line-height: 1.5;
}

header,
main,
footer {
    max-width: 720px;
    margin: 0 auto;
    align-items: center;
}

header,
footer {
    border-style: double;
    background-color: #396e94;
    color: #fff;
    border-radius: 12px;
    border-width: 2px;
    text-align: center;
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    font-size: 1rem;
    padding: 1rem;
}

h1, h2, #signature {
    font-family: 'Merienda', Times, serif;
}

main {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
}

footer {
    font-size: 0.9rem;
    padding: 0.9rem;
}

header img {
    border-style: double;
    border-radius: 12px;
    border-width: 2px;
}
