body {
    font-size: 16px;
    line-height: 1.5;
}

header,
main,
footer {
    max-width: 720px;
}

header,
footer {
    border-style: double;
    background-color: #396e94;
    color: #fff;
    text-align: center;
    border-radius: 12px;
    border-width: 2px;
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    font-size: 1rem;
    padding: 1rem;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    font-size: 0.9rem;
    padding: 0.9rem;
}

header img {
    border-style: double;
    border-radius: 12px;
    border-width: 2px;
}
